*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lemon', serif;
    -webkit-user-select: none;
    user-select: none;
}

body{
    max-height: 100vh;
}
.wrapper{
    width: 100;
    height: 100vh;
    background-color: rgb(124, 206, 231);
    /*background-color: rgb(21, 21, 65);*/
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 3rem;
    color: white;
    z-index: 4;
}

.letter{
    width: 2.3rem;
    margin: -2px;
}

.sides{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

#addBtn{
    position: absolute;
    top: -25px;
    right: -25px;

}

#plus{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#left, #right{
    width: 300px;
    min-height: 500px;
    margin: 20px;
    padding: 15px;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 black;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
}



#left .card, #right .card{
    margin: 10px 0;
    border-radius: 15px;
    font-size: 2rem;
    color: rgb(82, 163, 168);
    border: 3px solid rgb(248, 227, 41);
    height: 4rem;
    text-align: center;
    cursor: grab;
    padding-top: 7px;
    background-color: rgba(255, 255, 255, 0.7);
}


.modal {
    display: none; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1; 
    margin: 0 auto;
    width: 500px; 
    height: 100px; 
    background-color: #fff;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    z-index: 10;
  }

.card{
    position: relative;
}
  
 
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .delete{
    position: absolute;
    color: red;
    top: 5px;
    right: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
  }


  